@media screen and (max-width: 850px) {
  nav {
    padding-left: 0;
  }
  .nav-links {
    float: none;
    display: block;
    text-align: left;
    width: 130px;
  }
  .nav-rightSection {
    float: none;
    margin-top: -20px;
  }
  .nav-links__buttom {
    margin-top: 20px;
  }
  .nav-links__logo {
    margin-top: -10px;
    padding-left: 25px;
  }
  .main__p {
    color: red;
    font-size: 10px;
    top: 90%;
    left: 2rem;
    font-weight: bolder;
  }
  //   start-section
  section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .section__ang {
    padding: 0;
  }
  .section-angebote {
    width: 100%;
    gap: 0;
  }
  .öffnungszeiten {
    width: 100%;
    padding: 0px;
    padding-top: 50px;
  }
  .öffnungszeiten__table-size {
    font-size: 6px;
    padding: 10px;
  }
  .öffnungszeiten__h1 {
    font-size: 12px;
  }
  .section-angebote__list {
    font-size: 12px;
  }
  .section-angebote__img {
    border-radius: 20%;
    height: 60px;
    width: 40px;
  }
  .öffnungszeiten__table {
    margin: 0;
  }
}
@media screen and (min-width: 550px) and (max-width: 850px) {
  .öffnungszeiten {
    padding: 0;
  }
  .öffnungszeiten__table-size {
    font-size: 15px;
    border: 1px solid gray;
    padding: 0;
  }
  .öffnungszeiten__table {
    margin: 0;
  }
}
@media screen and (min-width: 205px) and (max-width: 550px) {
  .section-angebote {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 50px;
  }
}
