section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.section__ang {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 50px;
  background-image: url(../css/täglich2.png);
  background-size: cover;
  background-position: center;
}
.section-angebote {
  display: flex;
  flex-direction: row;
  gap: 20vw;
}
.section-angebote__img {
  border-radius: 10%;
  width: 100px;
  height: 80px;
}
.section-angebote__list {
  list-style-type: none;
}
.öffnungszeiten {
  width: 100%;
  background-size: cover;
  background-image: url(../css/open4.png);
  background-position: center;
  color: rgb(255, 0, 0);
  padding-top: 50px;
  padding-left: 1rem;
  font-weight: bold;
}
.öffnungszeiten__table-size {
  font-size: 16px;
  border: 1px solid gray;
  padding: 15px 25px;
  border-collapse: collapse;
}
.öffnungszeiten__table {
  //   border: 2px solid gray;
  border-collapse: collapse;
}
.section-angebote__del {
  color: red;
}
.section-angebote__list-girecht {
  color: blueviolet;
}
.section-angebote__list-preis {
  font-size: 14px;
}
.section-angebote__liste {
  //   margin-right: 2rem;
}
.öffnungszeiten__table-tags {
  //   margin-left: 1rem;
}
